# =========================
# Python (Backend)
# =========================
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/instance/
*.py[cod]
*.sqlite3

# =========================
# Flask / Env
# =========================
.env
backend/.env

# =========================
# Node (Frontend)
# =========================
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/